<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Valmistajalista</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" ></script>
	<script type="text/javascript" th:inline="javascript">
		google.charts.load('current', {'packages':['corechart']});
		
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Manufacturer');
            data.addColumn('number', 'Clothes');
            data.addRows(/*[[${chartData}]]*/);
            
            var options = {'title':'Valmistajien vaateosuudet'};
            
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
		}
	</script>
</head>
<body>
	<h1>Valmistajat</h1>
	<table class="table table-stiped">
		<tbody>
		
			<tr>
				<td><b>Nimi</b></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr th:each = "manufacturerList : ${manufacturers}">
				<td th:text="${manufacturerList.manufacturerName}"></td>

					<td sec:authorize="hasAuthority('admin')"><a th:href="@{/deleteManufacturermobile/{id}(id=${manufacturerList.manufacturerId})}" class="btn btn-danger">Delete</a></td> 
					<td sec:authorize="hasAuthority('admin')"><a th:href="@{/editManufacturermobile/{id}(id=${manufacturerList.manufacturerId})}" class="btn btn-success">Edit</a></td>  
				
			</tr>
		
		</tbody>
	</table>
	<div id="chart_div"></div>
	<a href="/addManufacturermobile" class="btn btn-primary" sec:authorize="hasAuthority('admin')">Lisää valmistaja</a> 
	<a href="/main" class="btn btn-primary">Palaa pääsivulle</a>
	<form  th:action="@{/logout}" method="post">
		<input class="btn btn-warning" type="submit" value="Kirjaudu ulos" /></form>
	
	


</body>
</html>