<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Lisää vaate</title>
</head>
<body>

	<h1>Vaatteen lisäys</h1>
	<h2>Lisää vaate:</h2>
	<div>
		<form th:object="${garmet}" th:action="@{save}" action="#" method="post">
			<label for="name">Nimi:</label>
			 <input type="text" th:field="*{name}" /> 
			 <label for="type">Tyyppi:</label>
			 <input type="text" th:field="*{type}" /> 
			 <label for="price">Hinta:</label> 
			 <input type="text" th:field="*{price}" /> 
			 <label for="manufacturer">Valmistaja:</label> 
			 <input type="text" th:field="*{manufacturer}" />
			 <input type="submit" value="Save"></input>
		</form>
	</div>

</body>
