<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Vaatelista</title>
</head>
<body>
	<table style="width:100%; margin:auto; text-align:center;  margin-bottom:0; margin-top:20px;"  class="table table-striped table-dark">
	<thead class="thead-light">
	<tr style="text-align:center; width:100%;">
	<th th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]!</th>
	<th></th>
	<th></th>
	<th></th>
	<th ><a class="btn btn-primary" href="/add" sec:authorize="hasAuthority('ADMIN')">Lisää vaate</a> </th>
	<th><a class="btn btn-success" href="/index">Palaa pääsivulle</a></th>
	<th><form  th:action="@{/logout}" method="post">
		<input class="btn btn-warning" type="submit" value="Kirjaudu ulos" /></form>
	</th>
	
	</tr>
	</thead>
	</table>
	<table  style="width:100%; margin:auto; text-align:center;  margin-bottom:0; margin-top:20px;"  class="table table-striped table-dark">
		<tbody>
		
			<tr>
				<td><b>Nimi</b></td>
				<td><b>Tyyppi</b></td>
				<td><b>Hinta</b></td>
				<td><b>Valmistaja</b></td>
				<td></td>
				<td></td>
				
			</tr>
			<tr th:each = "clothelist : ${clothes}">
				<td th:text="${clothelist.name}"></td>
				<td th:text="${clothelist.type}"></td>
				<td th:text="${clothelist.price}"></td>

				<td><a th:href="@{/clothesByManufacturer/{manufacturer}(manufacturer=${clothelist.manufacturer})}" th:text="${clothelist.manufacturer}"></a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${clothelist.id})}" class="btn btn-danger">Delete</a></td> 
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${clothelist.id})}" class="btn btn-success">Edit</a></td>  
				
			</tr>
		
		</tbody>
	</table>
	
	


</body>
</html>